{% extends 'index.html' %}
{% load static %}
{% block title %}SRIA - Nosotros {% endblock title %}
{% block section#1 %}{% endblock section#1 %}
{% block s2-class %}about_us padding_top{% endblock s2-class %}
{% block about %}

<section>
    <h1 style="text-align: center; font-size: 48px;"><strong>Sociedad de Radiología e Imagenología del Azuay</strong>
    </h1>
    <br />
    <p style="text-align:center;">
        <img src="{% static 'img/logo.png' %}" height="256" width="256">
    </p>
    <h2 style="text-align: center; font-size: 32px;">Nuestra Sociedad</h2>
    <div class="container" style="padding-top: 5%">
        <p class="text-justify col-md-9 col-sm-12 mx-auto" style="font-size: 20px;">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos ea sapiente aspernatur suscipit
            expedita. Quo expedita accusamus quod atque cumque repellendus, a totam enim ullam cupiditate? Eos illum non
            sint. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos ea sapiente aspernatur suscipit
            expedita. Quo expedita accusamus quod atque cumque repellendus, a totam enim ullam cupiditate? Eos illum non
            sint.
            <br><br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, eaque. Odit recusandae, delectus
            assumenda placeat ullam ab culpa doloribus pariatur et itaque distinctio vitae atque rerum corporis magnam
            sunt soluta.
            <br><br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius saepe perferendis consequatur velit aspernatur
            ipsam debitis reiciendis commodi odio, blanditiis facilis obcaecati temporibus, nemo repellat natus. Fugit
            sapiente ipsa repellat!
            <br><br>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo repellendus, ipsum ullam accusantium ab modi
            pariatur tempore quasi magnam fugit incidunt et nemo cupiditate quia quos aut adipisci itaque explicabo!
        </p>
    </div>
</section>

{% endblock about %}
{% block div-news %}{% endblock div-news %}